name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

      # Add this step for Linux runners
    - name: Install SDL2 dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install libsdl2-dev
    
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
